<div class="login-box">
  <div class="login-logo">
    <a><b>بازیابی رمز عبور</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">فرم زیر را تکمیل کنید و تایید بزنید</p>

      <form [formGroup]="form" (ngSubmit)="ConfirmResetPasswordCode()" method="post">
        <div class="input-group mb-3">
          <input type="text" minlength="8" class="form-control" placeholder="رمز عبور جدید" name="password" formControlName="password">
          <div class="input-group-append">
            <span class="fa fa-user input-group-text"></span>
          </div>

          <div class="col-12 text-center mt-2" *ngIf="form.get('password')?.touched">
                  <span *ngIf="form.get('password')?.getError('required')"
                        style="color: red;">رمز عبور اجباری است!</span>
            <span *ngIf="form.get('password')?.getError('minlength')" style="color: red;">رمز عبور باید حداقل 8 کاراکتر باشد!</span>
          </div>

        </div>

        <div class="input-group mb-3">
          <input type="text" minlength="8" class="form-control" placeholder="رمز عبور جدید" name="password_confirmation" formControlName="password_confirmation">
          <div class="input-group-append">
            <span class="fa fa-user input-group-text"></span>
          </div>

          <div class="col-12 text-center mt-2" *ngIf="form.get('password_confirmation')?.touched">
                  <span *ngIf="form.get('password_confirmation')?.getError('required')"
                        style="color: red;">تکرار رمز عبور اجباری است!</span>
            <span *ngIf="form.get('password_confirmation')?.getError('minlength')" style="color: red;">تکرار رمز عبور باید حداقل 8 کاراکتر باشد!</span>
          </div>

        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">تایید</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-0 mt-3 text-center">
        <a [routerLink]="['/admin/login']" class="text-center">ورود</a>
      </p>
    </div>
    <!-- /.login-card-body -->

     <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
