<div class="login-box">
  <div class="login-logo">
    <a><b>بازیابی رمز عبور</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">فرم زیر را تکمیل کنید و ارسال بزنید</p>

      <form [formGroup]="form" (ngSubmit)="SendResetPasswordCode()" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="ایمیل شما" name="email" formControlName="email">
          <div class="input-group-append">
            <span class="fa fa-user input-group-text"></span>
          </div>

          <div class="col-12 text-center mt-2" *ngIf="form.get('email')?.touched">
                  <span *ngIf="form.get('email')?.getError('required')"
                        style="color: red;">ایمیل تایید اجباری است!</span>
          </div>

        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال کد</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mb-0 mt-3 text-center">
        <a [routerLink]="['/admin/login']" class="text-center">ورود</a>
      </p>
    </div>
    <!-- /.login-card-body -->

     <ngx-loading [show]="loading"></ngx-loading>
  </div>
</div>
