<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>آهنگ ها</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
          <li class="breadcrumb-item"><a [routerLink]="'/admin'">خانه</a></li>
          <li class="breadcrumb-item active">آهنگ ها</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content mr-2 ml-2">
  <div class="container-fluid">

    <div class="row">
      <button type="button" class="btn btn-block btn-primary btn-sm col-4 col-lg-2 mb-3 mr-2" data-toggle="modal" data-target="#exampleModalCenter">آهنگ جدید</button>

      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">آهنگ ها</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" [(ngModel)]="search" (input)="GetTracks()" name="table_search" class="form-control float-right" placeholder="جستجو">

                <div class="input-group-append">
                  <button type="button" (click)="GetTracks()" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>

            <div class="card-tools d-none d-md-block" style="left: 200px!important; right: auto!important;">
              <div class="input-group input-group-sm" style="width: 150px;">
                <select [(ngModel)]="type" (change)="GetTracks()" class="form-control">
                  <option value="">همه</option>
                  <option value="0">رایگان ها</option>
                  <option value="1">ویژه ها</option>
                </select>
              </div>
            </div>

            <div class="card-tools d-none d-md-block" style="left: 380px!important; right: auto!important;">
              <div class="input-group input-group-sm" style="width: 150px;">
                <select [(ngModel)]="genre" (change)="GetTracks()" class="form-control">
                  <option value="">همه</option>
                  <option *ngFor="let item of genres" [value]="item.id">{{item.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>

              <tr>
                <th>ردیف</th>
                <th>نام آهنگ</th>
                <th>هنرمند</th>
                <th>آلبوم</th>
                <th>ژانر</th>
                <th>نوع اشتراک</th>
                <th>کاور</th>
                <th>تاریخ انتشار</th>
                <th>تاریخ ثبت</th>
                <th>عملیات</th>
              </tr>


              <tr *ngFor="let item of tracks; let index = index">
                  <td>
                  <input type="checkbox" (change)="bulk_child.AddItemsToBulkAction(item.id,$event)" [checked]="bulk_child.bulk_action_items.includes(item.id)" class="ml-2">                  {{ index + 1 }}
                </td>

                <td>{{ item.name }}</td>

                <td>{{ item.singer.name }}</td>

                <td>{{ item.album ? item.album.name : 'تک آهنگ' }}</td>

                <td>{{ item.genre ? item.genre.name : 'نامشخص' }}</td>

                <td>
                    <span [ngClass]="item.is_vip == '1' ? 'badge badge-danger' : 'badge badge-success'">
                      {{ item.is_vip ? 'ویژه' : 'رایگان' }}
                    </span>
                </td>

                <td><img width="40" [src]="ShowTrackCover(item.cover)"></td>

                <td>{{ item.published_date ?? 'نامشخص' }}</td>

                <td>{{ item.created_at }}</td>

                <td>
                  <a (click)="Get(item.id)"
                     class="btn btn-primary btn-action mr-1"
                     data-toggle="tooltip" title="ویرایش"
                     data-original-title="ویرایش"><i
                    class="fas fa-pencil-alt"></i><i
                    class="fa fa-pencil"> </i> </a>

                  <a (click)="DeleteConfirm(item.id)"
                     class="btn btn-danger btn-action mr-1"
                     data-toggle="tooltip" title="حذف"
                     data-original-title="حذف"><i
                    class="fas fa-pencil-alt"></i><i
                    class="fa fa-trash"> </i> </a>
                </td>
              </tr>

              </tbody>
            </table>

            <app-bulk-actions [model]="'Track'" [AllowedActions]="[['delete', 'حذف کردن'], ['cash', 'تبدیل به اشتراک'], ['free', 'تبدیل به رایگان']]" [data]="tracks" (GetDataEvent)="GetTracks()"></app-bulk-actions>

          </div>

          <track-modal-form (closeModalEvent)="GetTracks()" [data]="data"></track-modal-form>

          <app-pagination [meta_data]="meta_data" (GetPaginatedData)="GetTracks($event)"></app-pagination>

          <ngx-loading [show]="loading"></ngx-loading>

          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>

  </div>
</section>
