<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <form (ngSubmit)="Submit()" id="form" enctype="multipart/form-data">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%; margin: 0 auto!important;" role="document">

      <div class="modal-content">

        <div class="modal-header" style="width: 100%!important;">
          <h5 class="modal-title" id="exampleModalCenterTitle">افزودن آهنگ</h5>
          <button type="button" class="close" style="position: absolute!important;left: 0!important;"
                  data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <label class="form-label" for="name">نام:</label>
          <input id="name" name="name" [(ngModel)]="data.name" type="text" class="form-control">
        </div>

        <div class="modal-body">
          <label class="form-label" for="singer_id">هنرمند:</label>
          <select class="form-control select2" id="singer_id" (change)="GetAlbums()" name="singer_id" [(ngModel)]="data.singer_id"  style="width: 100%;">
            <option value="">بدون هنرمند</option>
            <option *ngFor="let item of singers" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="modal-body">
          <label class="form-label" for="album_id">آلبوم:</label>
          <select class="form-control select2" id="album_id" name="album_id" [(ngModel)]="data.album_id"  style="width: 100%;">
            <option value="">بدون آلبوم</option>
            <option *ngFor="let item of albums" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="modal-body">
          <label class="form-label" for="album_id">ژانر:</label>
          <select class="form-control select2" id="genre_id" name="genre_id" [(ngModel)]="data.genre_id"  style="width: 100%;">
            <option value="">بدون ژانر</option>
            <option *ngFor="let item of genres" [value]="item.id">{{item.name}}</option>
          </select>
        </div>

        <div class="modal-body">
          <label class="form-label" for="lyrics">متن(ترانه):</label>
          <textarea id="lyrics" name="lyrics" [(ngModel)]="data.lyrics" rows="8" class="form-control"></textarea>
        </div>

        <div class="modal-body">
          <label class="form-label" for="published_date">تاریخ انتشار آلبوم:</label>
          <input id="published_date" name="published_date" [(ngModel)]="data.published_date" type="text" class="form-control published_date">
        </div>

        <div class="modal-body">
          <label class="form-label" for="is_vip">آیا اشتراک ویژه است؟:</label>
          <select class="form-control" id="is_vip" name="is_vip" [(ngModel)]="data.is_vip">
            <option [value]="0">خیر</option>
            <option [value]="1">بله</option>
          </select>
        </div>

        <div class="modal-body">
          <label class="form-label" for="is_file_link">آیا فایل آهنگ لینک است؟:</label>
          <input id="is_file_link" name="is_file_link" value="0" [(ngModel)]="is_file_link" (change)="TrackFileChanged()" type="checkbox" class="mr-2">
        </div>

        <div class="modal-body" *ngIf="is_file_link">
          <label class="form-label" for="file">لینک فایل آهنگ:</label>
          <input id="file" name="name" [(ngModel)]="data.file" type="text" class="form-control">
        </div>

        <div class="modal-body" *ngIf="!is_file_link">
          <label class="form-label" for="file">فایل آهنگ:</label>
          <input id="file" name="file" (change)="handleTrackFileInput($event)" type="file" class="form-control">
        </div>

        <div *ngIf="data.id && data.file && !file && !data.is_file_link" class="modal-body">
          <p>فایل آهنگ قبلی:</p>
          <audio controls>
            <source [src]="ShowTrackFile(data.file)" type="audio/ogg">
            <source [src]="ShowTrackFile(data.file)" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
        </div>

        <div class="modal-body">
          <label class="form-label" for="cover">عکس کاور:</label>
          <input id="cover" name="cover" (change)="handleFileInput($event)" type="file" class="form-control">
        </div>

        <div *ngIf="data.id && data.cover" class="modal-body">
          <p>کاور قبلی:</p>
          <i (click)="RemoveImage()" class="fa fa-close text-danger ml-2" style="cursor: pointer"></i>
          <img src="{{ ShowTrackCover(data.cover) }}" width="100" alt="">
        </div>

        <div class="modal-footer">
          <button type="button" (click)="CloseAndClearModal(false)" class="btn btn-danger" data-dismiss="modal">لغو</button>
          &nbsp; &nbsp;
          <button type="submit" class="btn btn-info">ذخیره</button>
        </div>
      </div>
    </div>
  </form>
  <ngx-loading [show]="loading"></ngx-loading>
</div>
